<div class="margin container">
    <div class="row">
        <div class="ui secondary menu">
            <div class="col-md-1">
                <label class="" for="projectName">Project Name</label>
            </div>
            <div class="col-md-4">
                <input name="projectName" #projectName class="form-control" required autofocus/>
            </div>
            <button type="submit" class="btn-main"
            (click)="projectService.createProject(projectName.value, uid, 
            userData.firstName)">
                Create Project
            </button>
        </div>
    </div>
    <div class="row txt-color-red">
        <div class="background margin-top">
            <table class="">
                <thead>
                    <tr>
                        <th class ="txt-color-red">Project Name </th>
                        <th class ="txt-color-yellow">Project Onwer</th>
                        <th class ="txt-color-green">Project Creation Date </th>
                        <th class ="txt-color-purple">Project Creation Time</th>
                    </tr>
                </thead>
                <tbody class="" *ngIf="allProjectData?.length > 0">
                        <tr *ngFor="let project of allProjectData">
                            <td class ="txt-color-red"> {{ project.projectName }}</td>
                            <td class ="txt-color-yellow"> {{project.projectCreator}}</td>
                            <td class="txt-color-green"> {{project.creationDate.seconds * (1000.0)| date: 'yyyy-MM-dd'}}</td>
                            <td class ="txt-color-purple"> {{project.creationDate.seconds * (1000.0)| date: 'hh:mm'}}</td>
                        </tr>
                </tbody>
            </table>
        </div> 
    </div> 
</div>