<div class="margin">
    <div class="row main-heading"> 
        <h1 class="heading ">
            Start your <a class="free-word">free</a> trial
        </h1>
        <p class="text-style">
           Unlimited Users and Boards. No credit card needed.
        </p>
        <div class="btn-position">
            <a routerLink="/sign-up">  
                <button class=" get-started">Get Started</button>
            </a>
        </div>
    </div>

    <div class="container margin">
        <div class="twelve wide column">
            <div class="screen1">
                <div class="ui four column grid">
                    <div class="column">
                        <div class="ui fluid card top-border basic ">
                            <div class="padding">
                                <h1 class="inner-heading">Basic</h1>
                                <h2 class="txt-color-red"> $11</h2>
                                <p class="txt-bold">Total $33 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams just getting started with managing all their 
                                    work in one place.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Basic includes:</a>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card top-border standard ">
                            <div class="padding">
                                <h1 class="inner-heading">Standard</h1>
                                <h2 class="txt-color-yellow"> $14</h2>
                                <p class="txt-bold">Total $41 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams that need to visualize their work in different
                                    ways and collaborate externally.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Basic Features, plus;</a>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card top-border pro">
                            <div class="padding">
                                <h1 class="inner-heading">Pro</h1>
                                <h2 class="txt-color-green"> $22</h2>
                                <p class="txt-bold">Total $65 / month</p>
                                <p>Billed annually</p>
                                <a  class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams that need to manage complex workflows with
                                    more automations and integrations.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Basic includes:</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card top-border enterprise">
                            <div class="padding">
                                <h1 class="inner-heading">Enterprise</h1>
                                <h2 class="txt-color-purple"> $11</h2>
                                <p class="txt-bold">Total $33 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Contact Us</button>
                                </a>
                                <p>
                                    For oragnizations that need enterprise-grade security,
                                    control and support.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Topline Home Furnishings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="conatiner darkwhite-background">
        <div class="row">
            
        </div>
    </div>
</div>