<div class="margin">
    <div class="row main-heading"> 
        <h1 class="heading ">
            Start your <a class="free-word">free</a> trial
        </h1>
        <p class="text-style">
           Unlimited Users and Boards. No credit card needed.
        </p>
        <div class="btn-position">
            <a routerLink="/sign-up">  
                <button class=" get-started">Get Started</button>
            </a>
        </div>
    </div>

    <div class="container margin">
        <div class="twelve wide column">
            <div class="screen1">
                <div class="ui four column grid">
                    <div class="column">
                        <div class="ui fluid card top-border basic ">
                            <div class="padding">
                                <h1 class="inner-heading">Basic</h1>
                                <h2 class="txt-color-red"> $11</h2>
                                <p class="txt-bold">Total $33 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams just getting started with managing all their 
                                    work in one place.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Basic includes:</a>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card top-border standard ">
                            <div class="padding">
                                <h1 class="inner-heading">Standard</h1>
                                <h2 class="txt-color-yellow"> $14</h2>
                                <p class="txt-bold">Total $41 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams that need to visualize their work in different
                                    ways and collaborate externally.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Basic Features, plus;</a>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card top-border pro">
                            <div class="padding">
                                <h1 class="inner-heading">Pro</h1>
                                <h2 class="txt-color-green"> $22</h2>
                                <p class="txt-bold">Total $65 / month</p>
                                <p>Billed annually</p>
                                <a  class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams that need to manage complex workflows with
                                    more automations and integrations.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Basic includes:</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card top-border enterprise">
                            <div class="padding">
                                <h1 class="inner-heading">Enterprise</h1>
                                <h2 class="txt-color-purple"> $11</h2>
                                <p class="txt-bold">Total $33 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Contact Us</button>
                                </a>
                                <p>
                                    For oragnizations that need enterprise-grade security,
                                    control and support.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Topline Home Furnishings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="container darkwhite-background">
        <div class="row">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Simple">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span>&#9733; <b>Fancy</b> title &#9733;</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="Disabled" [disabled]="true">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
        </div>
    </div>
    
</div>