<div class="margin">
    <div class="row main-heading"> 
        <h1 class="heading ">
            Start your <a class="free-word">free</a> trial
        </h1>
        <p class="text-style">
           Unlimited Users and Boards. No credit card needed.
        </p>
        <div class="btn-position">
            <a routerLink="/sign-up">  
                <button class=" get-started">Get Started</button>
            </a>
        </div>
    </div>

    <div class="container margin">
        <div class="twelve wide column">
            <div class="screen1">
                <div class="ui four column grid">
                    <div class="column">
                        <div class="ui fluid card top-border basic ">
                            <div class="padding">
                                <h1 class="inner-heading">Basic</h1>
                                <h2 class="txt-color-red"> $11</h2>
                                <p class="txt-bold">Total $33 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams just getting started with managing all their 
                                    work in one place.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Basic includes:</a>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card top-border standard ">
                            <div class="padding">
                                <h1 class="inner-heading">Standard</h1>
                                <h2 class="txt-color-yellow"> $14</h2>
                                <p class="txt-bold">Total $41 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams that need to visualize their work in different
                                    ways and collaborate externally.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Basic Features, plus;</a>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card top-border pro">
                            <div class="padding">
                                <h1 class="inner-heading">Pro</h1>
                                <h2 class="txt-color-green"> $22</h2>
                                <p class="txt-bold">Total $65 / month</p>
                                <p>Billed annually</p>
                                <a  class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Try for free</button>
                                </a>
                                <p>
                                    For teams that need to manage complex workflows with
                                    more automations and integrations.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Basic includes:</a>
                            </div>
                        </div>
                    </div>
                  
                    <div class="column">
                        <div class="ui fluid card top-border enterprise">
                            <div class="padding">
                                <h1 class="inner-heading">Enterprise</h1>
                                <h2 class="txt-color-purple"> $11</h2>
                                <p class="txt-bold">Total $33 / month</p>
                                <p>Billed annually</p>
                                <a class="btn-place" routerLink="/sign-up">  
                                    <button class="get-started get-trial">Contact Us</button>
                                </a>
                                <p>
                                    For oragnizations that need enterprise-grade security,
                                    control and support.
                                </p>
                            </div>
                            <div class="content">
                                <a class="header">Topline Home Furnishings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="container darkwhite-background padding ">
        <div class="row padding question-container">
            <h1 class="inner-heading">Frequently Asked Questions</h1>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span><b class="question-txt-font">1) Is there a free version of monday.com?</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <p class="answer-txt-font">
                    If you would like to access monday.com beyond the 14-day trial,
                    you can do so through purchasing a plan. If you are a student 
                    or a non-profit, you may be qualified to access monday.com for 
                    free or at a discount by filling out the designated forms.
                    </p>
                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span><b class="question-txt-font">2) How much does monday.com cost?</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <p class="answer-txt-font">
                        monday.com starts from $24 per month for 3 users and goes up from 
                        there based on your chosen plan and team size.
                        If you are over 40 users, you can request a quote to get an exact price.
                       </p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span><b class="question-txt-font">3) Can you pay for monday.com monthly?</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <p class="answer-txt-font">
                        Yes, you can pay monthly for your account. Choose the monthly option on 
                        the pricing page and you will be able to pay on a per month basis. 
                        The monthly plan is not discounted so if you are looking to save,
                        we recommend the yearly plan.
                        </p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span><b class="question-txt-font">4) Which pricing plan is right for me?</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <p class="answer-txt-font">
                        We broke down the top features of each plan into three easy-to-browse highlights.
                         Let's dive in and learn everything you need to confidently choose a plan 
                         you'll love! Handy little table of contents: We know teams are dynamic, 
                         so we developed our pricing to be as flexible as possible.
                        </p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span><b class="question-txt-font">5) What if I change my mind?</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <p class="answer-txt-font">
                        If you’ve paid for a yearly subscription in the last 30-days, and need to
                         cancel your account, you are entitled to a prorated refund. We will automatically
                          refund you the remaining balance from your original purchase. Simply cancel the
                         account from the Admin section, and your account will be automatically refunded. 
                         If you have any questions, you can always reach out to support@monday.com
                        </p>
                        </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span><b class="question-txt-font">6) How can I manage my billing? </b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <p class="answer-txt-font">
                        If you are an admin of your account, you can access your purchase history,
                        invoices, payment details, plan type, and more. Learn how to manage your
                        billing details here.
                        </p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span><b class="question-txt-font">7) What payment methods do you accept?</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <p class="answer-txt-font">
                        We accept the following payment methods: All the major credit cards
                         (excluding debit cards) - Visa, Master Card, American Express, Discover, 
                         Diners Club, JCB, Carte Bleue, Union Pay. You can also purchase your 
                         monday.com subscription with PayPal. We accept invoices for Enterprise orders 
                         that meet a minimum fee - Feel free to reach out to support@monday.com for 
                         more information.
                        </p>
                    </ng-template>
                  </ngb-panel>
              </ngb-accordion>
        </div>
    </div>
    <div class="row">
        <app-footer></app-footer>
    </div>
</div>
