.enterprise-img-left {
    margin-left: -8rem;
}

.video-heading {
    text-align: left;
    padding-top: 10rem;
}

.video-size {
    width: 700px;
    height: 500px;
}

.image3-place {
  margin-left: -14rem;
}