<div class="margin purple-block">
    <div class="container padding">
        <div class="row main-heading"> 
            <div class ="col-md-3">
                <img class="enterprise-img-left" src="/assets/Images/enterprise1.png"/>
            </div>
            <div class ="col-md-6">
                <h1 class="heading txt-color-white  main-heading">
                The Work OS designed for mordern enterprises
                </h1>
                <p class="text-style txt-color-white">
                    Bring your teams together ubder one secure, supported, and 
                    centralized work management platform.
                </p>
                <div class="btn-position">
                    <a routerLink="/sign-up">  
                        <button class="get-started">Request a demo</button>
                    </a>
                </div>
            </div>
            <div class ="col-md-3">
                <img src="/assets/Images/enterprise2.png"/>
                <img class="image3-place" src="/assets/Images/enterprise3.png"/>
            </div>
        </div>
    </div>
</div>  
<div class="row">
    <div class="container">
        <div class="col-md-4">
            <h1 class="video-heading heading">
                 Team communication at scale
            </h1>
            <p class="text-style-video">
                Align all departments to work together at greater efficiency. 
                Customize the platform to fit the needs of any team within your 
                organization.
            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 padding">
            <video class="video-size"controls autoplay loop>
                <source src="/assets/Video/enterprise.mp4" type="video/mp4">
            </video>
      </div>
    </div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>
