<div class="container margin">
    <div class="row"> 
        <h1>
            Work the way that works for you
        </h1>
        <p class="text-style">
            What would you like to manage with monday.com Work OS?
        </p>
        <div class="btn-position">
            <button class=" get-started">Get Started</button>
        </div>
    </div>
    <div class="row">
        <img class="home-img" src="/assets/Images/home.png"/>
    </div>
    <div class="row">
        <p class="text-style">
            See why over 100,000 teams choose monday.com
        </p>
    </div>
    <div class="darkwhite-background">

    </div>
</div>
