.margin {
margin-top: 10rem;
}
.main-heading{
    text-align: center;
}
.heading{
    margin-top: 80px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: rgb(50, 51, 56);
}
.text-style{
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: rgb(50, 51, 56);
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
.btn-position{
    display: flex;
    justify-content: center;
}
.home-img{
    margin-top: 50px;;
    width: 100%;
}
.partners-logo{
  width: 95%;
}
.logo-position{
    margin-right: 30px; 
    margin-left: 10rem;
}
.video-size{
    width: 700px;
    height:500px;
    padding-right: 8rem;
}
.padding{
    padding-top: 80px;
}
.text-style-video{
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: rgb(50, 51, 56);
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}
.video-heading{
    text-align: left;
    margin-left: 20px;
    padding-top: 10rem;
}