<div class="margin">
  <div class="row main-heading"> 
      <h1 class="heading ">
          Work the way that works for you
      </h1>
      <p class="text-style">
          What would you like to manage with monday.com Work OS?
      </p>
      <div class="btn-position">
          <button class=" get-started">Get Started</button>
      </div>
  </div>

  <div class="row">
      <img class="home-img" src="/assets/Images/home.png"/>
  </div>

  <div class="row">
      <p class="text-style">
          See why over 100,000 teams choose monday.com
      </p>
  </div>

  <div class="container">
    <div class="row margin">
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/hulu.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/bbc.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="home-ipartners-logomg" src="/assets/Images/partners-logo/universal.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/adobe.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/coca_cola.png"/>
      </div>
    </div>

    <div class="row margin">
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/loreal.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/nbc-logo.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="home-ipartners-logomg" src="/assets/Images/partners-logo/discovery_channel_logo.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/gameloft.png"/>
      </div>
      <div class="col-md-1 logo-position">
        <img class="partners-logo" src="/assets/Images/partners-logo/deezer.png"/>
      </div>
    </div>
  </div>

  <div class="row darkwhite-background">
    <div class="container">
      <div class="col-md-5 padding">
        <video class="video-size"controls autoplay loop>
          <source src="/assets/Video/homeVideo.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <h1 class="video-heading heading">
          Manage everything in one workspace
        </h1>
        <p class="text-style-video">
          Planning, tracking and delivering your team's best work has never been easier
        </p>
      </div>
    </div>
  </div>

  <div class="row darkwhite-background">
    <div class="container">
      <div class="col-md-4">
        <h1 class="video-heading heading">
          Set up in minutes
        </h1>
        <p class="text-style-video">
          Get started fast with hundreds of visual and customizable templates - or create your own
        </p>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-5 padding">
        <video class="video-size"controls autoplay loop>
          <source src="/assets/Video/homevideo2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padding">
      <img class="home-img" src="/assets/Images/24Support.jpeg"/>
    </div>
    <div class="col-md-6">
      <h1 class="video-heading heading">
        24/7 customer support
      </h1>
      <p class="text-style-video">
          Our team is here to give you personalized support within the hour 
          available 24/7. Join daily live webinars, watch our tutorials, or 
          browse through our knowledge base.
      </p>
    </div>
  </div>
  <div class="row purple-block">
    <div class="conatiner">
      <h1 class="white-heading">
        Work the way that works for you
      </h1>
      <p class="text-style-white">
        14-day free trial| No credit card needed
      </p>
    </div>
  </div>
  <div class="row">
    <app-footer></app-footer>
  </div>
</div>
