<div class=" background ui secondary  menu margin">
    <a routerLink="home" class=" item menutext">
      <img class="logo" src="/assets/Images/logo.png"/>
    </a>
    <a routerLink="home" class=" item menutext">
      Product
    </a>
    <a routerLink="about-us" class="item menutext">
      Solutions
    </a>
    <a routerLink="team" class="item menutext">
      Enterprise
    </a>
    <a routerLink="contact" class="item menutext">
      Pricing
    </a>
    <div class ="right menu">
        <a routerLink="login" class="ui item btn-main ">
            Contact Sales
        </a>
        <a routerLink="login" class="ui item btn-main ">
            Login
        </a>
        <a routerLink="login" class="ui item btn-main">
          <button class="get-started"> Get Started</button>  
        </a>
    </div>
</div>